.movieDetailsWrap{
    margin-left: 8%;
    margin-right: 10%;
    padding: 3%;
    text-align: left;
    box-shadow: -20px 0px 16px 0px rgba(0,0,0,0.2);
    max-width: 1000px;
}
.movieTitle{
    font-size: 40px;
    text-align: left;
}
.moviePoster{
    max-width: 300px;
    max-height: 500px;
}
.detailTopOfPage{
    display: flex;
}
button{
    border: 0;
    margin-left: auto;
    border-radius: 10px;
    max-height: 30px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
}
button:hover{
    box-shadow: 2px 1px 16px 0px rgba(0,0,0,0.2);
}
